@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ae9cff;
}

.main-container{
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

.container{
    background-color: #ffffff;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(38, 33, 61, 0.5);
    padding: 100px 50px;
} 

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#inp-word{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 1rem;
}

#search-btn{
    padding: 16px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}

#search-btn:hover{
    background-color: transparent;
    color: #ae9cff;
    border: 3px solid #ae9cff;
    padding: 12px 0;
}

#search-btn:active{
    background-color: #ae9cff;
  box-shadow: 0 5px #ae9cff;
  transform: translateY(0.4px);
  color: #fff;
}


h3{
    font-size: 30px;
    color: #1f194c;
}

.word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button{
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0px 20px 0px;
    font-size: 0.9rem;
}

.word-meaning{
    color: #575a7b;
}

.word-example{
    color: #575a7b;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}

.error{
    margin-top: 80px;
    text-align: center;
}


    